{block #content}
	<section class="service" id="top">
		<h1>Název služby {$slug}</h1>
		<p>Úplný text o službě.</p>

		<footer class="p-footer">
			<h4>Zaujala Vás moje práce, ale chcete vědět víc?</h4>
			<p>Ozvěte se mi a můžeme si o Vašem projektu nezávazně popovídat třeba u dobré kávy.</p>
			<a href="#contact" class="btn">Kontaktujte mě</a>
		</footer>
	</section>
{/block}
