//@import "bootstrap/bootstrap";

$red:			#a92d19 !default;
$light-red: #c52e14 !default;
$blue: #0c8ea1 !default;
$light-blue:	#5BEBFF !default;

@import "font";
@import "main";
@import "dark-theme";
@import "responsive";

//@import "copyright";
//@import "cookie";
